<h1>Welcome</h1>

<h1>{{ title }}</h1>
<h1>{{ name }}</h1>
<h1>{{ getAge() }}</h1>

<!-- <img [src]="image" alt="jdjd" /> -->

<div *ngIf="getAge() > 10">
  <h1>age is greater</h1>
</div>

<h1 [ngClass]="{ title: getAge() > 100 }">hi</h1>

<h2
  [ngStyle]="
    getAge() > 10
      ? {
          background: 'red',
          border: '10px solid yellow',
          'font-size.px': 20
        }
      : null
  "
>
  hi there
</h2>

<div *ngIf="getAge() > 10; else elseBlock">
  Content to render when the condition is true.
</div>
<ng-template #elseBlock>
  Content to render when the condition is false.
</ng-template>
