<h1>Welcome</h1>

<h1>{{ title }}</h1>
<h1>{{ name }}</h1>
<h1>{{ getAge() }}</h1>

<!-- <img [src]="image" alt="jdjd" /> -->

<div *ngIf="getAge() > 10">
  <h1>age is greater</h1>
</div>

<h1 [ngClass]="{ title: getAge() > 100 }">hi</h1>

<h2
  [ngStyle]="
    getAge() > 10
      ? {
          background: 'red',
          border: '10px solid yellow',
          'font-size.px': 20
        }
      : null
  "
>
  hi there
</h2>

<div *ngIf="getAge() > 10; else elseBlock">
  Content to render when the condition is true.
</div>
<ng-template #elseBlock>
  Content to render when the condition is false.
</ng-template>
<!-- <br /> -->

<div *ngIf="loading; else noLoading">
  <h1 class="card1">Loading.....</h1>
  <button (click)="getData()" style="background: green; color: antiquewhite">
    get Data
  </button>
</div>

<ng-template #noLoading>
  <div *ngIf="userData.length; else noUserData">
    <table>
      <tr>
        <th>S.No</th>
        <th>User Name</th>
        <th>Age</th>
        <th>Address</th>
      </tr>
      <!-- <div class="cardcontainer"> -->
      <tr *ngFor="let item of userData; index as i">
        <!-- <tr> -->
        <td
          [ngStyle]="
            (i + 1) % 2 == 0 ? { color: 'red', background: 'white' } : null
          "
        >
          {{ i + 1 }}
        </td>
        <td
          [ngStyle]="
            (i + 1) % 2 == 0 ? { color: 'red', background: 'white' } : null
          "
        >
          {{ item.name }}
        </td>
        <td
          [ngStyle]="
            (i + 1) % 2 == 0 ? { color: 'red', background: 'white' } : null
          "
        >
          {{ item.age }}
        </td>
        <td
          [ngStyle]="
            (i + 1) % 2 == 0 ? { color: 'red', background: 'white' } : null
          "
        >
          {{ item.address }}
        </td>
      </tr>
      <!-- <div class="card">
          <h2>This is a name : {{ item.name }}</h2>
          <h2>This is age : {{ item.age }}</h2>
        </div> -->
      <!-- </div> -->
    </table>

    <!-- </div> -->
    <button
      (click)="removeData()"
      style="background: green; color: antiquewhite"
    >
      remove Data
    </button>
  </div>

  <ng-template #noUserData>
    <div class="card1">userData not found</div>
    <br />
    <button (click)="getData()" style="background: green; color: antiquewhite">
      get Data
    </button>
  </ng-template>
</ng-template>
